# ------------ Fichier gitignore ------------

# ------------------
# ---- Ambroise ----
# ------------------

#Exclu le fichier CMakeLIsts.txt
src/CMakeLists.txt

#Exclu l'ensemble du dossier cmake-build-debug/
cmake-build-debug/

#Exclu l'ensemble du dossier .idea/
.idea/



#Exclu les dossiers inutiles liés à Qt
build-carcassone-Desktop_x86_darwin_generic_mach_o_64bit-Debug/
carcassone.pro.user

# ------------------
# ---- Massil ----
# ------------------

src/Caracassonne.xcodeproj/
Caracassonne/
